.picker {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  margin-bottom: 1rem;
  padding: 0.4rem 1.2rem 0.4rem 0.5rem;
  span {
    font-weight: 600;
  }
}

.check-icon-wrapper {
  border: 0.5px solid rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.6rem;
  width: 1.6rem;
}

.picker-button {
  background-color: #98184d;
  color: white;
  font-size: 0.9rem;
  outline: none;
  border-radius: 5px;
  padding: 0.5rem;
  border: none;
  box-shadow: 0px 5px 3px #c6c6c6;
}
